.mat-form-field {display: block; width: 400px;}
.mat-raised-button {margin: 0 5px;}
.detail{
  margin-top: 5px;
  margin-left: 27px;
  min-height: 200px;
  width: 95%;
  border: 2px solid #868685;
  box-shadow: 0 15px 20px 0 rgba(255, 193, 65, 0.24), 0 25px 50px 0 rgba(0, 0, 0, 0.8)
}
.cont1{
margin-left: 30%;
}
